/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Merge Heath & Fitness
Author: Amanda Thurman

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name: Merge Heath & Fitness
Author: Amanda Thurman

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 33, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 34, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 35, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 81, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 85, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 90, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 95, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 21, ../scss/breakpoints/_768up.scss */
.main {
  font-size: 3.25em;
}

/* line 24, ../scss/breakpoints/_768up.scss */
.subheader {
  font-size: 1.75em;
  margin: 0;
}

/* line 28, ../scss/breakpoints/_768up.scss */
.mobile-container {
  display: none;
}

/*********************
BLOG TEMPLATES
*********************/
/* line 43, ../scss/breakpoints/_768up.scss */
.archive article h1,
.date article h1,
.search article h1,
.search-results article h1,
.search-no-results article h1,
.search-paged-1 article h1,
.blog article h1,
.single article h1 {
  font-size: 2.3em;
}

/*********************
PAGE TEMPLATES
*********************/
/* line 53, ../scss/breakpoints/_768up.scss */
.home #homepage-hero {
  padding: 150px 0;
}
/* line 57, ../scss/breakpoints/_768up.scss */
.home .icon-main h4 {
  font-size: 2em;
}
/* line 61, ../scss/breakpoints/_768up.scss */
.home #testimonials-container {
  background-color: #f3f3f3;
}
/* line 63, ../scss/breakpoints/_768up.scss */
.home #testimonials-container .wrap {
  max-width: 700px;
}
/* line 65, ../scss/breakpoints/_768up.scss */
.home #testimonials-container .wrap h4, .home #testimonials-container .wrap h6 {
  margin: 0;
}
/* line 71, ../scss/breakpoints/_768up.scss */
.home #mission-statement .wrap {
  max-width: 400px;
}

/* line 76, ../scss/breakpoints/_768up.scss */
.testimonial {
  min-height: 340px;
}
/* line 78, ../scss/breakpoints/_768up.scss */
.testimonial .testimonial-content {
  height: 100%;
  padding: 6% 45px;
}

/* line 86, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage .subheader {
  font-size: 1.75em;
}
/* line 89, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #aboutpage-hero {
  background: url(../images/about-us-bg.jpg) no-repeat;
  background-size: 100%;
  padding: 100px 0;
}
/* line 95, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #meet-the-team .team-member {
  margin: 20px 0;
}
/* line 97, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #meet-the-team .team-member h3.name {
  font-size: 1.5em;
}
/* line 100, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #meet-the-team .team-member p.job-title {
  font-size: 1.25em;
}
/* line 103, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #meet-the-team .team-member img {
  height: auto;
  padding: 0 15px;
}
/* line 109, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #contact-cta {
  padding: 50px 0;
}
/* line 111, ../scss/breakpoints/_768up.scss */
.page-template-page-aboutpage #contact-cta h4.subheader {
  width: 65%;
  margin: 0 auto 20px;
  font-size: 1.4em;
}

/* line 119, ../scss/breakpoints/_768up.scss */
.page-template-page-whatweofferpage .services.wrap {
  padding: 0 15px;
}
/* line 122, ../scss/breakpoints/_768up.scss */
.page-template-page-whatweofferpage .service {
  width: 50%;
  float: left;
  padding: 20px 20px 30px;
  min-height: 398px;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 130, ../scss/breakpoints/_768up.scss */
.page-template-page-whatweofferpage .service h1 {
  font-size: 1.75em;
  margin-top: 0;
}

/* line 139, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #fitnesspage-hero {
  background: url(../images/about-us-bg.jpg) no-repeat;
  background-size: 100%;
  padding: 100px 0;
}
/* line 144, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness .sub-main {
  font-size: 2em;
}
/* line 147, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #personal-training {
  padding: 80px 0;
  border-top: 1px solid #fff;
  background: url(../images/fitness-bg.jpg) no-repeat;
  background-size: cover;
  background-color: #323944;
  color: #fff;
  text-align: center;
}
/* line 155, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #personal-training a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 165, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #personal-training a:hover {
  border-bottom: 1px solid #fff;
}
/* line 170, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #boot-camp {
  background: url(../images/bootcamp-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 45%;
  padding: 80px 0;
  border-top: 1px solid #fff;
  text-align: center;
}
/* line 177, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #boot-camp .sub-main {
  color: #fff;
}
/* line 180, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #boot-camp a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 190, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #boot-camp a:hover {
  border-bottom: 1px solid #fff;
}
/* line 195, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #swim {
  background: url(../images/swimming-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 70% 0;
  padding: 80px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}
/* line 204, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #swim a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 214, ../scss/breakpoints/_768up.scss */
.page-template-page-fitness #swim a:hover {
  border-bottom: 1px solid #fff;
}

/* line 223, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition .subheader {
  font-size: 1.75em;
}
/* line 226, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition .sub-main {
  font-size: 2em;
}
/* line 229, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #nutritionpage-hero {
  background: url(../images/health-and-nutrition-bg.jpg) no-repeat;
  background-size: 100%;
  background-position: 70%;
  padding: 100px 0;
}
/* line 235, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #nutrition-coaching {
  padding: 80px 0;
  border-top: 1px solid #fff;
  background: url(../images/nutrition-coaching-bg.jpg) no-repeat;
  background-size: cover;
  background-color: #323944;
  color: #fff;
  text-align: center;
}
/* line 243, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #nutrition-coaching a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 253, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #nutrition-coaching a:hover {
  border-bottom: 1px solid #fff;
}
/* line 258, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #monthly-challenges {
  background: url(../images/merge-challenge-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 45%;
  padding: 80px 0;
  border-top: 1px solid #fff;
  text-align: center;
}
/* line 265, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #monthly-challenges .sub-main {
  color: #fff;
}
/* line 268, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #monthly-challenges a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 278, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #monthly-challenges a:hover {
  border-bottom: 1px solid #fff;
}
/* line 283, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #merge-moms {
  background: url(../images/merge-moms-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 100%;
  padding: 80px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}
/* line 292, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #merge-moms a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 302, ../scss/breakpoints/_768up.scss */
.page-template-page-healthandnutrition #merge-moms a:hover {
  border-bottom: 1px solid #fff;
}

/* line 310, ../scss/breakpoints/_768up.scss */
.modal-header {
  background-color: #323944;
  color: #fff;
}
/* line 313, ../scss/breakpoints/_768up.scss */
.modal-header .close {
  color: #fff;
}
/* line 315, ../scss/breakpoints/_768up.scss */
.modal-header .close:focus, .modal-header .close:active {
  outline: none;
}

/* line 321, ../scss/breakpoints/_768up.scss */
.modal-footer {
  background-color: #e5e5e4;
}

/* line 327, ../scss/breakpoints/_768up.scss */
.page-template-page-contact .subheader {
  font-size: 1.75em;
}
/* line 330, ../scss/breakpoints/_768up.scss */
.page-template-page-contact #contact-form {
  padding: 126px 0;
}
/* line 332, ../scss/breakpoints/_768up.scss */
.page-template-page-contact #contact-form .wrap {
  max-width: 750px;
}

/* line 340, ../scss/breakpoints/_768up.scss */
.page-template-page-corporatewellness .subheader {
  font-size: 1.75em;
}
/* line 343, ../scss/breakpoints/_768up.scss */
.page-template-page-corporatewellness .textured {
  padding: 30px 0;
}
/* line 346, ../scss/breakpoints/_768up.scss */
.page-template-page-corporatewellness #corporate-wellness-hero {
  background: url(../images/corporate-wellness-bg.jpg) no-repeat;
  background-size: 100%;
  background-position: 100%;
  padding: 100px 0;
}

/* line 355, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling {
  margin-top: 98px;
  font-family: 'Quicksand', sans-serif;
}
/* line 358, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling h2.counseling-sub-header {
  font-size: 30px;
}
/* line 361, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling h4.section-header {
  margin: 10px 0;
  font-size: 40px;
}
/* line 365, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling .section {
  font-size: 20px;
}
/* line 368, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #about-counseling {
  background: url(../images/meghan-bg-image.jpg) no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 100px 0;
}
/* line 374, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #counseling-services {
  background: url(../images/counseling-services-bg.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
}
/* line 379, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #health-coaching-services {
  background: url(../images/health-coaching-bg.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
}
/* line 384, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #retreats {
  background: url(../images/retreats-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 100px 0;
}
/* line 390, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #contact-section {
  background: url(../images/contact-bg.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
}
/* line 394, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #contact-section h2 {
  margin: 0;
}
/* line 396, ../scss/breakpoints/_768up.scss */
.page-template-page-counseling #contact-section h2 a {
  color: #fff;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/* line 412, ../scss/breakpoints/_768up.scss */
#logo {
  float: left;
  width: 40%;
}

/* line 416, ../scss/breakpoints/_768up.scss */
nav {
  width: 50%;
  float: right;
}
/* line 419, ../scss/breakpoints/_768up.scss */
nav ul.nav {
  margin-top: 10px;
  padding: 0;
  text-align: right;
}
/* line 423, ../scss/breakpoints/_768up.scss */
nav ul.nav li a {
  color: #404543;
  transition: all 0.2s ease-in-out;
}
/* line 426, ../scss/breakpoints/_768up.scss */
nav ul.nav li a:hover {
  color: #1b1d1c;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 435, ../scss/breakpoints/_768up.scss */
#cousneling-header {
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 439, ../scss/breakpoints/_768up.scss */
#cousneling-header nav {
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  padding: 5px 0;
  text-align: right;
}
/* line 445, ../scss/breakpoints/_768up.scss */
#cousneling-header nav a {
  display: inline-block;
  margin-top: 9px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 455, ../scss/breakpoints/_768up.scss */
#cousneling-header nav a:hover {
  border-bottom: 1px solid #e5e5e4;
}

/* line 461, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation {
  display: block;
  padding: 10px;
  background-color: #e5e5e4;
  position: fixed;
  top: 51px;
  width: 100%;
}
/* line 468, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation nav {
  float: left;
}
/* line 471, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation ul.navigation {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
/* line 474, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation ul.navigation li {
  display: inline-block;
  padding: 0 3px;
}
/* line 477, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation ul.navigation li a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 486, ../scss/breakpoints/_768up.scss */
.conseling-sub-navigation ul.navigation li a:hover {
  border-bottom: 1px solid #fff;
}

/* line 493, ../scss/breakpoints/_768up.scss */
footer.footer {
  padding: 20px 0;
}
/* line 495, ../scss/breakpoints/_768up.scss */
footer.footer #inner-footer {
  position: relative;
}
/* line 498, ../scss/breakpoints/_768up.scss */
footer.footer nav {
  width: 55%;
  float: left;
}
/* line 501, ../scss/breakpoints/_768up.scss */
footer.footer nav ul.footer-links {
  float: left;
  width: 33.33%;
  padding-right: 20px;
}
/* line 505, ../scss/breakpoints/_768up.scss */
footer.footer nav ul.footer-links li {
  padding: 3px 0;
  font-size: 0.8em;
}
/* line 508, ../scss/breakpoints/_768up.scss */
footer.footer nav ul.footer-links li a {
  color: #f8f9fa;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
/* line 512, ../scss/breakpoints/_768up.scss */
footer.footer nav ul.footer-links li a:hover {
  color: #cbd3da;
}
/* line 517, ../scss/breakpoints/_768up.scss */
footer.footer nav ul.footer-links li.link-top {
  border-bottom: 1px solid #2f90cc;
  display: inline-block;
  font-size: 1.2em;
  padding-bottom: 6px;
  margin-bottom: 6px;
  width: 83px;
}
/* line 527, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right {
  float: right;
  width: 40%;
  text-align: right;
}
/* line 531, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right .footer-social-links {
  display: inline-block;
  margin-top: 25px;
}
/* line 534, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right .footer-social-links li {
  padding: 0 3px;
  display: inline-block;
}
/* line 537, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right .footer-social-links li a {
  color: #fff;
  background-color: #2f90cc;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 552, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right .footer-social-links li a:hover {
  background-color: #21648e;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 561, ../scss/breakpoints/_768up.scss */
footer.footer .footer-right .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  color: #5A79A9;
}

/* line 570, ../scss/breakpoints/_768up.scss */
.nav {
  display: block;
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 573, ../scss/breakpoints/_768up.scss */
.nav ul {
  background: #323944;
  margin-top: 0;
}
/* line 577, ../scss/breakpoints/_768up.scss */
.nav li {
  float: right;
  position: relative;
  /* showing sub-menus */
}
/* line 582, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 591, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 603, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 607, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 620, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 636, ../scss/breakpoints/_768up.scss */
.archive #main,
.date #main,
.search #main,
.search-results #main,
.search-no-results #main,
.search-paged-1 #main,
.blog #main,
.single #main {
  width: 73%;
}

/* line 646, ../scss/breakpoints/_768up.scss */
.sidebar {
  width: 25%;
  float: right;
  margin-bottom: 20px;
}
/* line 650, ../scss/breakpoints/_768up.scss */
.sidebar .widget_search {
  margin: 0 0 20px;
}
/* line 653, ../scss/breakpoints/_768up.scss */
.sidebar .widget_categories {
  margin-bottom: 0;
}
/* line 655, ../scss/breakpoints/_768up.scss */
.sidebar .widget_categories ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}
/* line 659, ../scss/breakpoints/_768up.scss */
.sidebar .widget_categories ul li {
  margin-bottom: 0;
}
/* line 661, ../scss/breakpoints/_768up.scss */
.sidebar .widget_categories ul li a {
  text-decoration: none;
}
/* line 667, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text {
  border: none;
  padding: 0;
  text-align: center;
}
/* line 671, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links {
  display: inline-block;
  margin: 0 auto;
}
/* line 674, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li {
  padding: 0 3px;
  margin-bottom: 0;
  display: inline-block;
}
/* line 678, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a {
  color: #fff;
  background-color: #2f90cc;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 693, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a:hover {
  background-color: #21648e;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 699, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a .fa-twitter {
  position: relative;
  bottom: 2px;
  left: 1px;
}
/* line 704, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a .fa-instagram {
  position: relative;
  bottom: 2px;
}
/* line 708, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a .fa-facebook {
  bottom: 2px;
  position: relative;
}
/* line 712, ../scss/breakpoints/_768up.scss */
.sidebar .widget_text .footer-social-links li a .fa-youtube {
  position: relative;
  bottom: 3px;
}
/* line 720, ../scss/breakpoints/_768up.scss */
.sidebar .jr-insta-slider {
  border-bottom: 1px solid #323944;
  border-top: 1px solid #323944;
}
/* line 725, ../scss/breakpoints/_768up.scss */
.sidebar .searchform label {
  display: none;
}
/* line 729, ../scss/breakpoints/_768up.scss */
.sidebar input[type="text"],
.sidebar input[type="search"] {
  background-color: #F9F9F9;
  border: 1px solid #eaedf2;
}
/* line 734, ../scss/breakpoints/_768up.scss */
.sidebar input[type="text"].is-error {
  border: 1px solid #990E05;
}
/* line 737, ../scss/breakpoints/_768up.scss */
.sidebar input[type="submit"],
.sidebar button {
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: block;
  max-width: 275px;
  padding: 10px 30px;
  text-align: center;
  color: #fff !important;
  background-color: #2f90cc;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 752, ../scss/breakpoints/_768up.scss */
.sidebar input[type="submit"]:hover, .sidebar input[type="submit"]:focus,
.sidebar button:hover,
.sidebar button:focus {
  background-color: #2779ab;
}
/* line 756, ../scss/breakpoints/_768up.scss */
.sidebar input[type="submit"]:active,
.sidebar button:active {
  background-color: #2676a7;
}
/* line 761, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup h2 {
  font-size: 16px;
}
/* line 764, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup p {
  font-size: 14px;
}
/* line 767, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup p.ctct-form-footer {
  font-size: 10px;
  line-height: 1.2;
}
/* line 771, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup .ctct-form-errorMessage {
  color: #990E05;
}
/* line 774, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup a {
  color: #fff;
}
/* line 777, ../scss/breakpoints/_768up.scss */
.sidebar .ctct-embed-signup button {
  background-color: #ED7F07;
}

/* line 783, ../scss/breakpoints/_768up.scss */
.widgettitle {
  margin: 0 0 0.75em;
  text-align: center;
  font-size: 0.85em;
  text-transform: uppercase;
}

/* line 790, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0.75em 10px;
  margin: 1em 0;
}
/* line 794, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
}
/* line 796, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*********************
PAGE TEMPLATES
*********************/
/* line 16, ../scss/breakpoints/_1030up.scss */
.home #testimonials-container {
  background: url(../images/testimonial-bg.png) no-repeat;
  background-color: #f3f3f3;
  background-size: 100%;
}

/* line 23, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service {
  width: 33.3333%;
  float: left;
  padding: 20px 20px 40px;
  max-width: 333px;
  max-height: 340px;
  min-width: 333px;
  min-height: 340px;
  font-size: 0.95em;
  position: relative;
}
/* line 33, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service h1 {
  font-size: 1.65em;
}
/* line 36, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service p {
  font-size: 0.9em;
}
/* line 39, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service .gray-btn {
  display: none;
}
/* line 42, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service .service-link {
  display: block;
  width: 333px;
  height: 340px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
}
/* line 53, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service .service-link a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  margin: 45.5% auto 0;
  width: 35%;
  font-size: 1.2em;
}
/* line 65, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service .service-link a:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 72, ../scss/breakpoints/_1030up.scss */
.page-template-page-whatweofferpage .service .service-link:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 84, ../scss/breakpoints/_1030up.scss */
.page-template-page-fitness .sub-main {
  font-size: 2em;
}
/* line 87, ../scss/breakpoints/_1030up.scss */
.page-template-page-fitness #personal-training {
  padding: 120px 0;
}
/* line 90, ../scss/breakpoints/_1030up.scss */
.page-template-page-fitness #boot-camp {
  padding: 120px 0;
}
/* line 93, ../scss/breakpoints/_1030up.scss */
.page-template-page-fitness #swim {
  padding: 120px 0;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 102, ../scss/breakpoints/_1030up.scss */
footer.footer nav {
  width: 55%;
}
/* line 104, ../scss/breakpoints/_1030up.scss */
footer.footer nav ul.footer-links {
  float: left;
}
/* line 106, ../scss/breakpoints/_1030up.scss */
footer.footer nav ul.footer-links li {
  font-size: 1em;
}
/* line 109, ../scss/breakpoints/_1030up.scss */
footer.footer nav ul.footer-links li.link-top {
  border-bottom: 1px solid #2f90cc;
  display: inline-block;
  font-size: 1.2em;
  padding-bottom: 6px;
  margin-bottom: 6px;
  width: 83px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
