/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
PAGE TEMPLATES
*********************/
.home {
  #testimonials-container {
    background: url(../images/testimonial-bg.png) no-repeat;
    background-color: #f3f3f3;
    background-size: 100%;
  }
}
