/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
PAGE TEMPLATES
*********************/
.home {
  #testimonials-container {
    background: url(../images/testimonial-bg.png) no-repeat;
    background-color: #f3f3f3;
    background-size: 100%;
  }
}
.page-template-page-whatweofferpage {
  .service {
    width: 33.3333%;
    float: left;
    padding: 20px 20px 40px;
    max-width: 333px;
    max-height: 357px;
    h1 {
      font-size: 1.65em;
    }
    p {
      font-size: 0.9em;
    }
    .gray-btn {
      display: none;
    }
  }
}
