/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
PAGE TEMPLATES
*********************/
.home {
  #testimonials-container {
    background: url(../images/testimonial-bg.png) no-repeat;
    background-color: #f3f3f3;
    background-size: 100%;
  }
}
.page-template-page-whatweofferpage {
  .service {
    width: 33.3333%;
    float: left;
    padding: 20px 20px 40px;
    max-width: 333px;
    max-height: 340px;
    min-width: 333px;
    min-height: 340px;
    font-size: 0.95em;
    position: relative;
    h1 {
      font-size: 1.65em;
    }
    p {
      font-size: 0.9em;
    }
    .gray-btn {
      display: none;
    }
    .service-link {
      display: block;
      width: 333px;
      height: 340px;
      margin: 0 auto;
      opacity: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.65);
      a {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
        margin: 45.5% auto 0;
        width: 35%;
        font-size: 1.2em;
        &:hover {
          border-bottom: 1px solid $white;
          -webkit-transition: all 0.2s ease-in-out;
          -transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
      }
      &:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease-in-out;
        -transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
