/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}
.main {
  font-size: 3.25em;
}
.subheader {
  font-size: 1.75em;
  margin: 0;
}

/*********************
BLOG TEMPLATES
*********************/
.archive,
.date,
.search,
.search-results,
.search-no-results,
.search-paged-1,
.blog,
.single {
  article {
    h1 {
      font-size: 2.3em;
    }
  }
}

/*********************
PAGE TEMPLATES
*********************/
.home {
  #homepage-hero {
    padding: 150px 0;
  }
  .icon-main {
    h4 {
      font-size: 2em;
    }
  }
  #testimonials-container {
    background-color: #f3f3f3;
    .wrap {
      max-width: 700px;
      h4, h6 {
        margin: 0;
      }
    }
  }
  #mission-statement {
    .wrap {
      max-width: 400px;
    }
  }
}
.testimonial {
  min-height: 380px;
  .testimonial-content {
    height: 100%;
    padding: 8% 45px;
  }
}

// About Us Page
.page-template-page-aboutpage {
  .subheader {
    font-size: 1.75em;
  }
  #aboutpage-hero {
    background: url(../images/about-us-bg.jpg) no-repeat;
    background-size: 100%;
    padding: 100px 0;
  }
  #meet-the-team {
    .team-member {
      margin: 20px 0;
      h3.name {
        font-size: 1.5em;
      }
      p.job-title {
        font-size: 1.25em;
      }
      img {
        height: auto;
        padding: 0 15px;
      }
    }
  }
  #contact-cta {
    padding: 50px 0;
    h4.subheader {
      width: 65%;
      margin: 0 auto 20px;
      font-size: 1.4em;
    }
  }
}
.page-template-page-whatweofferpage {
  .services.wrap {
    padding: 0 15px;
  }
  .service {
    width: 50%;
    float: left;
    padding: 20px 20px 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    h1 {
      font-size: 1.75em;
      margin-top: 0;
    }
  }
}

// Fitness Services Page
.page-template-page-fitness {
  .subheader {
    font-size: 1.75em;
  }
}

// Contact Page
.page-template-page-contact {
  .subheader {
    font-size: 1.75em;
  }
  #contact-form {
    padding: 40px 0;
    .wrap {
      max-width: 750px;
    }
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
HEADER STYLES
*********************/

#logo {
  float: left;
  width: 40%;
}
nav {
  width: 50%;
  float: right;
  ul.nav {
    margin-top: 10px;
    text-align: right;
    li a {
      color: $text-color;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken($text-color, 15%);
      }
    }
  }
}
/*********************
NAVIGATION STYLES
*********************/
footer.footer {
  padding: 20px 0;
  #inner-footer {
    position: relative;
  }
  nav {
    width: 55%;
    float: left;
    ul.footer-links {
      float: left;
      width: 33.33%;
      padding-right: 20px;
      li {
        padding: 3px 0;
        font-size: 0.8em;
        a {
          color: $light-gray;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: darken($light-gray, 15%);
          }
        }
      }
      li.link-top {
        border-bottom: 1px solid $blue;
        display: inline-block;
        font-size: 1.2em;
        padding-bottom: 6px;
        margin-bottom: 6px;
        width: 83px;
      }
    }
  }
  .footer-right {
    float: right;
    width: 40%;
    text-align: right;
    .footer-social-links {
      display: inline-block;
      margin-top: 25px;
      li {
        padding: 0 3px;
        display: inline-block;
        a {
          color: $white;
          background-color: $blue;
          width: 35px;
          height: 35px;
          font-size: 20px;
          text-align: center;
          display: inline-block;
          padding: 4px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-transition: all 0.2s ease-in-out;
          -transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: darken($blue, 15%);
            -webkit-transition: all 0.2s ease-in-out;
            -transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
    .copyright {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.8em;
      color: #5A79A9;
    }
  }
}
.nav {
  display: block;
  border: 0;
  ul {
    background:$black;
    margin-top:0;
  }
	li {
    float: right;
    position: relative;
    &:first-child {}
    &:last-child {}
    ul.sub-menu,
    ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      li {
        a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc;
          &:hover,
          &:focus {}
          &:link {}
        }
        &:first-child {}
        &:last-child {
          a {
            border-bottom: 0;
          }
        }
        ul {
          top:0;
          left:100%;
        }
      }
      /* highlight sub-menu current page */
      li.current-menu-item,
      li.current_page_item,
      li.current_page_ancestor {
        a {}
      }
    }
    /* showing sub-menus */
    &:hover > ul {
      top: auto;
      visibility:visible;
    }
  } /* end .menu ul li */
  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    a {}
  }  /* end current highlighters */
} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/
.archive #main,
.date #main,
.search #main,
.search-results #main,
.search-no-results #main,
.search-paged-1 #main,
.blog #main,
.single #main {
  width: 73%;
}
.sidebar {
  width: 25%;
  float: right;
  margin-bottom: 20px;
  .widget_search {
    margin: 0 0 20px;
  }
  .widget_categories {
    margin-bottom: 0;
  }
  .widget_text {
    border: none;
    padding: 0;
    text-align: center;
    .footer-social-links {
      display: inline-block;
      margin: 0 auto;
      li {
        padding: 0 3px;
        margin-bottom: 0;
        display: inline-block;
        a {
          color: $white;
          background-color: $blue;
          width: 35px;
          height: 35px;
          font-size: 20px;
          text-align: center;
          display: inline-block;
          padding: 4px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-transition: all 0.2s ease-in-out;
          -transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: darken($blue, 15%);
            -webkit-transition: all 0.2s ease-in-out;
            -transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
          .fa-twitter {
            position: relative;
            bottom: 2px;
            left: 1px;
          }
          .fa-instagram {
            position: relative;
            bottom: 2px;
          }
          .fa-facebook {
            bottom: 2px;
            position: relative;
          }
          .fa-youtube {
            position: relative;
            bottom: 3px;
          }
        }
      }
    }
  }
  .jr-insta-slider {
    border-bottom: 1px solid #323944;
    border-top: 1px solid #323944;
  }
  .searchform {
    label {
      display: none;
    }
  }
  input[type="text"],
  input[type="search"] {
    background-color: #F9F9F9;
    border: 1px solid $gray;
  }
  input[type="text"].is-error {
    border: 1px solid #990E05;
  }
  input[type="submit"],
  button {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    max-width: 275px;
    padding: 10px 30px;
    text-align: center;
    color: $white !important;
    background-color: $blue;
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
      background-color: darken($blue, 8%);
    }
    &:active {
      background-color: darken($blue, 9%);
    }
  }
  .ctct-embed-signup {
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    p.ctct-form-footer {
      font-size: 10px;
      line-height: 1.2;
    }
    .ctct-form-errorMessage {
      color: #990E05;
    }
    a {
      color: $white;
    }
    button {
      background-color: #ED7F07;
    }
  }
}

.widgettitle {
  margin: 0 0 0.75em;
  text-align: center;
  font-size: 0.85em;
  text-transform: uppercase;
}

.widget {
  padding: 0.75em 10px;
  margin: 1em 0;
  ul {
    li {
      margin-bottom: 0.75em;
      ul {
        margin-top: 0.75em;
        padding-left: 1em;
      }
    }
  }
}
/* links widget */
.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* pages widget */
.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

/* archives widget */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {}
.widget_archive ul li a {}
.widget_archive select {}
.widget_archive option {}

/* tag-cloud widget */
.widget_links {}
.widget_links li:after {}
.widget_links li:before {}
.widget_tag_cloud {}
.widget_tag_cloud a {}
.widget_tag_cloud a:after {}
.widget_tag_cloud a:before {}

/* calendar widget */
.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}

/* category widget */
.widget_categories {}
.widget_categories ul {}
.widget_categories ul li {}
.widget_categories ul ul.children {}
.widget_categories a {}
.widget_categories select{}
.widget_categories select#cat {}
.widget_categories select.postform {}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

/* recent-comments widget */
.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

/* search widget */
#searchform {}
.widget_search {}
.screen-reader-text {}

/* text widget */
.textwidget {}
.widget_text {}
.textwidget p {}
