/******************************************************************
Site Name: Merge Heath & Fitness
Author: Amanda Thurman

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  font-family: $lato;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  background-color: $gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.textured {
  background: url(../images/ricepaper_v3.png);
}
.section {
  padding: 30px 0;
  background-color: $white;
}
.green {
  background-color: #C7E2B2;
}
.light-blue {
  background-color: #C9E0E0;
}
.gray {
  background-color: $gray;
}
.biege {
  background-color: #EDE5D1;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.upcase {
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.main {
  color: $white;
  font-size: 1.5em;
  margin: 0;
}
.subheader {
  color: $white;
  font-size: 1em;
  margin: 12px 0 0;
  font-weight: 300;
}
.mobile-container {
  display: block;
  color: $white;
}
.sr-only {
  display: none;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
  font-size: 3.5em;
  color: $text-color;
  span {
    display: block;
    position: relative;
    top: 80px;
  }
  .sr-only {
    display: none;
  }
}
// Buttons
.blue-btn,
a.blue-btn {
  display: block;
  max-width: 275px;
  padding: 10px 30px;
  margin: 15px auto;
  text-align: center;
  font-size: 24px;
  color: $white !important;
  background-color: $bright-blue;
  -webkit-transition: all 0.2s ease-in-out;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($bright-blue, 7%);
  }
}
.gray-btn,
a.gray-btn {
  display: block;
  max-width: 275px;
  padding: 10px 30px;
  margin: 15px auto;
  text-align: center;
  font-size: 24px;
  color: $white !important;
  background-color: #5C6A73;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  &:hover {
    background-color: darken(#5C6A73, 7%);
  }
}
ul {
  padding: 0 15px 0 0;
  list-style-type: disc;
}
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
.archive,
.date,
.search,
.search-results,
.search-no-results,
.search-paged-1,
.blog,
.single {
  background: url(../images/ricepaper_v3.png);
  #main {
    background-color: $white;
    border: 1px solid $gray;
    padding: 15px;
    margin-bottom: 35px;
    & > h1 {
      margin: 0;
    }
  }
  article {
    img {
      display: block;
      margin: 0 auto 12px;
      max-width: 100%;
      height: auto;
    }
    h1 {
      font-size: 1.3em;
    }
  }
  .hentry {
    background-color: none;
    border-radius: 0;
    border: none;
    header {
      border-bottom: none;
      padding-bottom: 0.2em;
    }
    footer {
      padding: 0 1.5em;
      border-top: none;
      .footer-category {
        font-size: 12px;
      }
    }
  }
}
.error404 {}

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  -webkit-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover, &:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: $link-hover;
  }
  &:active {}
  &:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  a {
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
  background-color: $white;
  padding: 5px 0;
}

#logo {
  margin: 5px 0 0;
  a {
    color: $white;
  }
}

/*********************
NAVIGATION STYLES
*********************/
footer.footer {
  padding: 20px 0;
  #inner-footer {
    position: relative;
  }
  nav {
    ul.footer-links {
      li {
        padding: 3px 0;
        a {
          display: block;
          color: $light-gray;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: darken($light-gray, 15%);
          }
        }
      }
      li.link-top {
        border-bottom: 1px solid $blue;
        display: inline-block;
        font-size: 1.2em;
        padding-bottom: 6px;
        margin-bottom: 6px;
        width: 83px;
      }
    }
  }
  .footer-right {
    .footer-social-links {
      display: inline-block;
      margin-top: 25px;
      li {
        padding: 0 3px;
        display: inline-block;
        a {
          color: $white;
          background-color: $blue;
          width: 35px;
          height: 35px;
          font-size: 20px;
          text-align: center;
          display: inline-block;
          padding: 4px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-transition: all 0.2s ease-in-out;
          -transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: darken($blue, 15%);
            -webkit-transition: all 0.2s ease-in-out;
            -transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
          .fa-twitter {
            position: relative;
            bottom: 2px;
            left: 1px;
          }
          .fa-instagram {
            position: relative;
            bottom: 2px;
          }
          .fa-facebook {
            bottom: 2px;
            position: relative;
          }
          .fa-youtube {
            position: relative;
            bottom: 3px;
          }
        }
      }
    }
    .copyright {
      font-size: 0.8em;
      color: #5A79A9;
    }
  }
}

.nav {
  display: none;
  border-bottom: 0;
  margin: 0;
  li {
    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding: 0.75em;
      -webkit-transition: all 0.2s ease-in-out;
      -transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover, &:focus {}
    }
    &:first-child {}
    &:last-child {}
    ul.sub-menu,
    ul.children {
      li {
        a {
        	padding-left: 30px;
          &:hover,
          &:focus {}
          &:link {}
        }
        &:first-child {}
        &:last-child {}
      }
    }
  } /* end .menu li */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    a {}
  }  /* end current highlighters */
} /* end .nav */

/*********************
PAGE TEMPLATES
*********************/
.wrap {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1040px;
}
.home {
  #homepage-hero {
    background: url(../images/hero-bg-frontpage.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
  }
  #what-we-offer {
    padding: 30px 0;
  }
  #testimonials-container {
    padding: 20px 0;
  }
  .icon-main {
    h2, h4 {
      font-weight: bold;
      margin: 0;
    }
    img {
      display: block;
      width: 100%;
      margin: 0 auto 20px;
      max-width: 150px;
    }
  }
  .number {
    background-color: $white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 2px 13px 3px;
  }
  #mission-statement {
    padding: 30px 0;
  }
}
.testimonial {
  position: relative;
  .testimonial-content {
    height: 100%;
    padding: 0 30px;
    width: 85%;
    margin: 0 auto;
    font-size: 15px;
    h3 {
      margin-top: 0;
    }
  }
  .fa-angle-left {
    left: 0;
    position: absolute;
    top: 30%;
    font-size: 50px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $bright-blue;
    }
  }
  .fa-angle-right {
    float: right;
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $bright-blue;
    }
  }
}
.testimonial.active {
  display: block !important;
}
// About Us Page
.page-template-page-aboutpage {
  .subheader {
    color: $text-color;
    font-size: 1.2em;
  }
  #aboutpage-hero {
    background: url(../images/about-us-bg.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
  }
  #more-about-us,
  #meet-the-team {
    padding: 30px 0;
  }
  #meet-the-team {
    .team-member {
      margin: 20px 0;
      h3.name {
        margin: 0;
        font-weight: 600;
        font-size: 1.3em;
      }
      p.job-title {
        margin-top: 0;
        font-size: 1.1em;
        color: lighten($text-color, 15%);
      }
      p.credentials {
        font-style: italic;
      }
      img {
        display: block;
        margin: 0 auto;
        padding: 15px;
      }
    }
  }
  #contact-cta {
    padding: 30px 0;
    h4.subheader {
      font-size: 1.4em;
      margin-bottom: 30px;
    }
  }
}
#servicespage-hero {
  background: url(../images/what-we-offer-banner.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.page-template-page-whatweofferpage {
  .services.wrap {
    padding: 0;
  }
  .service {
    font-size: 1em;
    width: 100%;
    padding: 20px;
    img {
      display: block;
      margin: 5px auto;
      height: auto;
      max-width: 35px;
    }
    h1 {
      margin-bottom: 0;
    }
    p:first-of-type {
      margin-top: 0;
    }
    a.gray-btn {
      margin-bottom: 0;
    }
    .service-link {
      display: none;
    }
  }
}

// Fitness Services Page
.page-template-page-fitness {
  #fitnesspage-hero {
    background: url(../images/about-us-bg.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
  }
  #personal-training {
    background-color: lighten($black, 10%);
    a {
      display: none;
    }
  }
  .sub-main {
    color: $white;
  }
  .subheader {
    color: $text-color;
    font-size: 1.2em;
  }
  #boot-camp {
    color: $text-color;
    padding: 30px 0;
    .sub-main {
      color: $text-color;
    }
    .mobile-container {
      color: $text-color;
    }
    a {
      display: none;
    }
  }
  #swim {
    background-color: lighten($black, 10%);
    a {
      display: none;
    }
  }
}

// Health and Nutrition Page
.page-template-page-healthandnutrition {
  .subheader {
    color: $text-color;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #nutritionpage-hero {
    background: url(../images/health-and-nutrition-bg.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
  }
  #nutrition-coaching {
    background-color: lighten($black, 10%);
    a {
      display: none;
    }
  }
  .sub-main {
    color: $white;
  }
  .subheader {
    color: $text-color;
    font-size: 1.2em;
  }
  #monthly-challenges {
    color: $text-color;
    padding: 30px 0;
    .sub-main {
      color: $text-color;
    }
    .mobile-container {
      color: $text-color;
    }
    a {
      display: none;
    }
  }
  #merge-moms {
    background-color: lighten($black, 10%);
    a {
      display: none;
    }
  }
}

// Contact Page
.page-template-page-contact {
  .subheader {
    color: $text-color;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .form-error {
    color: red;
  }
  #contact-form {
    padding: 20px 0;
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select,
    textarea,
    .field {
      background-color: #F9F9F9;
      border: 1px solid $gray;
      margin-top: 8px;
      max-width: none;
    }
    input[type="text"].error,
    input[type="password"].error,
    input[type="datetime"].error,
    input[type="datetime-local"].error,
    input[type="date"].error,
    input[type="month"].error,
    input[type="time"].error,
    input[type="week"].error,
    input[type="number"].error,
    input[type="email"].error,
    input[type="url"].error,
    input[type="search"].error,
    input[type="tel"].error,
    input[type="color"].error,
    select.error,
    textarea.error,
    .field.error {
      border: 1px solid red;
    }
  }
}

// 404 Page
.error404 {
  background-color: $black;
  background: url(../images/error-page-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 55%;
  #error-page-container {
    padding: 200px 0;
    color: $white;
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  margin-top: 1.5em;
}
.hentry {
  background-color: $white;
  border-radius: 3px;
  margin-bottom: 1.5em;
  border: 1px solid $border-color;
  header {
    border-bottom: 1px solid $light-gray;
    padding: 1.5em;
  }
  footer {
    padding: 1.5em;
    border-top: 1px solid $light-gray;
    p {
      margin: 0;
    }
  }
} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* post meta */
.byline {
  color: $meta-gray;
  font-style: italic;
  margin: 0;
  time {}
}

/* entry content */
.entry-content {
  padding: 1.5em 1.5em 0;
  p {
    margin: 0 0 1.5em;
  }
  ul, ol, table, dl {}
  ul, ol {
    li {}
  }
  ul {
    li {}
  }
  ol {
    li {}
  }
  table {
    width: 100%;
    border: 1px solid $gray;
    margin-bottom: 1.5em;
    caption {
      margin: 0 0 7px;
      font-size: 0.75em;
      color: $meta-gray;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  tr {
    border-bottom: 1px solid $gray;
    &:nth-child(even) {
      background-color: $light-gray;
    }
  }
  td {
    padding: 7px;
    border-right: 1px solid $gray;
    &:last-child {
      border-right: 0;
    }
  }
  th {
  	background-color: $light-gray;
  	border-bottom: 1px solid $gray;
  	border-right: 1px solid $gray;
  	&:last-child {
  		border-right: 0;
  	}
  }
  blockquote {
  	margin: 0 0 1.5em 0.75em;
  	padding: 0 0 0 0.75em;
  	border-left: 3px solid $blue;
  	font-style: italic;
  	color: $meta-gray;
  	&:before {}
  }
  dl {}
  dt {}
  dd {
  	margin-left: 0;
  	font-size: 0.9em;
  	color: #787878;
  	margin-bottom: 1.5em;
  }
  img {
  	margin: 0 0 1.5em 0;
  	max-width: 100%;
  	height: auto;
  }
  .alignleft, img.alignleft {}
  .alignright, img.alignright {}
  .aligncenter, img.aligncenter {}
  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
  	max-width: 100%;
  	height: auto;
  }
  pre {
  	background: $black;
  	color: $light-gray;
  	font-size: 0.9em;
  	padding: 1.5em;
  	margin: 0 0 1.5em;
  	border-radius: 3px;
  }
} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}
/* comment meta */
.comment-meta {
  a {}
}
.commentmetadata {
  a {}
}
/* comment content */
.comment_content {
  p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em;
  }
} /* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
  @extend .blue-btn;
  font-size: 0.9em;
  float: right;
  &:hover,
  &:focus {}
} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
  @extend .cf;
  padding: 1.5em;
  border-top: 1px solid $light-gray;
}
#reply-title {
  margin: 0;
}
.logged-in-as {
  color: $meta-gray;
  font-style: italic;
  margin: 0;
  a {
    color: $text-color;
  }
}
.comment-form-comment {
  margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
  padding: 1.5em;
  background-color: $light-gray;
  font-size: 0.9em;
}
/* comment submit button */
#submit {
  @extend .blue-btn;
  float: right;
  font-size: 1em;
}
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
#cancel-comment-reply {
  a {}
}
/* logged in comments */
.comments-logged-in-as {}
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {}

.widget {
  ul {
    li {
      &:first-child {}
      &:last-child {}
      a {}
      ul {}
    }
  }
}

.no-widgets {
  background-color: $white;
  padding: 1.5em;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
  background-color: $black;
  color: $light-gray;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
.footer-links {
	ul {
		li {}
  }
} /* end .footer-links */
.copyright {}
